html, body{
    background-color: #F2F2FF;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: grid; 
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profil{
    margin-top: 25px;
    grid-column: 1;
    width: 400px;
    padding: 10px;
}

#profil div{
    background-color: #E6E8FA;
    margin-right: 10px;
}

#dataUser{
    margin-top: 30px;
    
    display: flex;
    justify-content: space-between;
}

#dataUser div{
    width: 120px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
}

#EditProfile{
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#Reviews{
    grid-column: 2;  
     
}

#Reviews section div{
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);

    width: 450px;
    height: 120px;

    /* BUAT NANTI TAS */
}

p{
    text-align: center;
}