<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag's Community</title>
    <link rel="stylesheet" href="../css/about.css">

</head>
<body>
    <%- include('header') %>
    <div>
        <img src="../assets/ogol.png">
        <br>
        <p>Bag’s Community is a website-based community for Bag Lovers. It’s established in 2023 by 3 Founders.</p>
    </div>
    <%- include('footer') %>
</body>
</html>