<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Items</title>
    <link rel="stylesheet" href="../css/addBagItem.css">
</head>
<body>
    <header></header>
    <!-- <% nanti tambahin headerAdmin %> -->
    <main>
        <button id="addbagitem">Input File CSV</button>
        <button id="addbagitem">Input Data Secara Manual</button>
    </main>
</body>
</html>