<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In - Bag's Community</title>
    <link rel="stylesheet" href="../css/addReview.css">
</head>
<body>
    <header></header>
    <main>
        <form method="post" action="/addReview">
            <h2>ADD REVIEW</h2>
            <hr>
            <div id="nilai">
                <input type="radio" name="nilai1">
                <label for="nilai1">1</label>
                <input type="radio" name="nilai2">
                <label for="nilai2">2</label>
                <input type="radio" name="nilai3">
                <label for="nilai3">3</label>
                <input type="radio" name="nilai4">
                <label for="nilai4">4</label>
                <input type="radio" name="nilai5">
                <label for="nilai5">5</label>
            </div>
            <div id="deskripsi">
                <label for="review">Write your review</label>
                <textarea name="review"></textarea>
            </div>
            <button>Upload Your Review</button>
        </form>
    </main>
</body>
</html>