<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Sub-Category</title>
    <link rel="stylesheet" href="../css/addCatSubCat.css">
</head>
<body>
    <header></header>
    <!-- <% nanti tambahin headerAdmin %> -->
    <main>
        <div class="addCategory">
            <p>Sub-Category</p>
            <input type="text" placeholder="Tambah kategori.." name="addCat">
            <button type="submit">+</button>
        </div>
        <div class="category">
            <button>School backpack</button>
            <button>Cross Body backpack</button>
            <button>Mini backpack</button>
            <button>Laptop backpack</button>
        </div>
    </main>
</body>
</html>