<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin's Profile</title>
    <link rel="stylesheet" href="../css/adminProf.css">
</head>
<body>
    <!-- header -->
    <section>
        <div id="fotoProfil">
            <img src="../assets/profile.png" width="200px" height="200px">
            <p> admin_123</p>
        </div>

        <div id="AdminOptions">
            <section>
                <div id ="addCatAndSub">
                    <p>Add Category and Sub-Category</p>
                </div>
                <div id ="addBag">
                    <p>Add Bag Item</p>
                </div>
                <div id ="reviewSettings">
                    <p>Review Settings</p>
                </div>
                <div id = "reviewStats">
                    <p>Review Staistics Result</p>
                </div>
            </section>
        </div>
    </section>
</body>
</html>