<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="../css/userProfile.css">
</head>
<body>
    <%- include('header') %>
    <section>
        <div id="profil">
            <img src="../assets/profile.png" width="100px" height="100px">
            <p><%- username %></p>
            <section id="dataUser">
                <div id ="Review">
                    <p><%= review %></p>
                    <p>Reviews</p>
                </div>
                <div id ="Followers">
                    <p><%= followers %></p>
                    <p>Followers</p>
                </div>
                <div id ="Following">
                    <p><%= following %></p>
                    <p>Following</p>
                </div>
            </section>
            <a id="EditProfile" href="/userProfileSettings">Edit Profile</a>
        </div>
        
        <div id="Reviews">
            <section>
                <div class ="bag">
                    <div class="left">
                        <img src="../assets/gambar/ladydior.png" class="fotoTas">
                        <p class="Merek"> Dior</p>
                    </div>
                    <div class="right">
                        <div class="prof">
                            <img src="../assets/profile.png" class="fotoProf">
                            <p class="profile"> Ketherine Natalie </p>
                        </div>
                        
                        <img src="../assets/gambar/bintang.png" class="bintang">
                        <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>

                <div class ="bag">
                    <div class="left">
                        <img src="../assets/gambar/ladydior.png" class="fotoTas">
                        <p class="Merek"> Dior</p>
                    </div>
                    <div class="right">
                        <div class="prof">
                            <img src="../assets/profile.png" class="fotoProf">
                            <p class="profile"> Ketherine Natalie </p>
                        </div>
                        
                        <img src="../assets/gambar/bintang.png" class="bintang">
                        <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>

                <div class ="bag">
                    <div class="left">
                        <img src="../assets/gambar/ladydior.png" class="fotoTas">
                        <p class="Merek"> Dior</p>
                    </div>
                    <div class="right">
                        <div class="prof">
                            <img src="../assets/profile.png" class="fotoProf">
                            <p class="profile"> Ketherine Natalie </p>
                        </div>
                        
                        <img src="../assets/gambar/bintang.png" class="bintang">
                        <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>

                <div class ="bag">
                    <div class="left">
                        <img src="../assets/gambar/ladydior.png" class="fotoTas">
                        <p class="Merek"> Dior</p>
                    </div>
                    <div class="right">
                        <div class="prof">
                            <img src="../assets/profile.png" class="fotoProf">
                            <p class="profile"> Ketherine Natalie </p>
                        </div>
                        
                        <img src="../assets/gambar/bintang.png" class="bintang">
                        <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</body>
</html>