<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag Page</title>
    <link rel="stylesheet" href="../css/bagPage.css">
</head>
<body>

    <div id="all">
    <section>
    <div id="left">
        <h1> BAG 1067812</h1>
        <div id="photos">
            <img src="../assets/gambar/ladydior.png" id="depan">
            <img src="../assets/gambar/ladydior.png" id="belakang">
            <img src="../assets/gambar/ladydior.png" id="kanan">
            <img src="../assets/gambar/ladydior.png" id="kiri">
            <img src="../assets/gambar/ladydior.png" id="dalam">
        </div>

        <h2> Details </h2>
        <div id="details">
            <p> Bag ID</p>
            <input type="text" placeholder="1067812" disabled>
            <p> Merek</p>
            <input type="text" placeholder="Dior" disabled>
            <p> Designer</p>
            <input type="text" placeholder="Christian Dior" disabled>
            <p> Kategori</p>
            <input type="text" placeholder="Handbag" disabled>
            <p> Sub-Kategori</p>
            <input type="text" placeholder="Clutch" disabled>
            <p> Warna</p>
            <input type="text" placeholder="Hitam" disabled>
            <p> Ukuran</p>
            <input type="text" placeholder="20 x 17 x 18 cm" disabled>
        </div>
    </div>

    <div id="right">
        <div id="upperR">
            <h2> Reviews</h2>
            <img src="../assets/gambar/bintang.png" class="bintang">
            <input type="button" value="+ Add Review">
        </div>
        
        <div class ="reviews">
            <div class ="userReviews">
                <div class="left">
                    <img src="../assets/gambar/ladydior.png" class="fotoTas">
                    <p class="Merek"> Dior</p>
                </div>
                <div class="right">
                    <div class="prof">
                        <img src="../assets/profile.png" class="fotoProf">
                        <p class="profile"> Joan Natalie </p>
                    </div>
                    
                    <img src="../assets/gambar/bintang.png" class="bintang">
                    <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class ="userReviews">
                <div class="left">
                    <img src="../assets/gambar/ladydior.png" class="fotoTas">
                    <p class="Merek"> Dior</p>
                </div>
                <div class="right">
                    <div class="prof">
                        <img src="../assets/profile.png" class="fotoProf">
                        <p class="profile"> Ketherine Arc </p>
                    </div>
                    
                    <img src="../assets/gambar/bintang.png" class="bintang">
                    <img src="../assets/gambar/bintang.png" class="bintang">
                    <img src="../assets/gambar/bintang.png" class="bintang">
                    <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class ="userReviews">
                <div class="left">
                    <img src="../assets/gambar/ladydior.png" class="fotoTas">
                    <p class="Merek"> Dior</p>
                </div>
                <div class="right">
                    <div class="prof">
                        <img src="../assets/profile.png" class="fotoProf">
                        <p class="profile"> Angelica Arc </p>
                    </div>
                    
                    <img src="../assets/gambar/bintang.png" class="bintang">
                    <img src="../assets/gambar/bintang.png" class="bintang">
                    <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class ="userReviews">
                <div class="left">
                    <img src="../assets/gambar/ladydior.png" class="fotoTas">
                    <p class="Merek"> Dior</p>
                </div>
                <div class="right">
                    <div class="prof">
                        <img src="../assets/profile.png" class="fotoProf">
                        <p class="profile"> Angelica Arc Natalie </p>
                    </div>
                    
                    <img src="../assets/gambar/bintang.png" class="bintang">
                    <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class ="userReviews">
                <div class="left">
                    <img src="../assets/gambar/ladydior.png" class="fotoTas">
                    <p class="Merek"> Dior</p>
                </div>
                <div class="right">
                    <div class="prof">
                        <img src="../assets/profile.png" class="fotoProf">
                        <p class="profile"> Arc Natalie </p>
                    </div>
                    
                    <img src="../assets/gambar/bintang.png" class="bintang">
                    <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class ="userReviews">
                <div class="left">
                    <img src="../assets/gambar/ladydior.png" class="fotoTas">
                    <p class="Merek"> Dior</p>
                </div>
                <div class="right">
                    <div class="prof">
                        <img src="../assets/profile.png" class="fotoProf">
                        <p class="profile"> Natalie </p>
                    </div>
                    
                    <img src="../assets/gambar/bintang.png" class="bintang">
                    <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    </div>
</body>
</html>