<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <%- include('header') %>
    <section>
        <div id="grafikTopTen">
            <h1> DASHBOARD </h1>

            <div id="graphs">
                <a class="Back">&#10094;</a>
                <a class="forward">&#10095;</a>
            </div>
            
        </div>
            <div>
                <h1> TOP REVIEWS</h1>
                <section id="Bags">
                    <div class ="bag">
                            <div class="left">
                                <img src="../assets/gambar/ladydior.png" class="fotoTas">
                                <p class="Merek"> Dior</p>
                            </div>
                            <div class="right">
                                <div class="prof">
                                    <img src="../assets/profile.png" class="fotoProf">
                                    <p class="profile"> Angelica Natalie </p>
                                </div>
                                
                                <img src="../assets/gambar/bintang.png" class="bintang">
                                <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                    </div>

                    <div class ="bag">
                        <div class="left">
                            <img src="../assets/gambar/ladydior.png" class="fotoTas">
                            <p class="Merek"> Dior</p>
                        </div>
                        <div class="right">
                            <div class="prof">
                                <img src="../assets/profile.png" class="fotoProf">
                                <p class="profile"> Ketherine Natalie </p>
                            </div>
                            
                            <img src="../assets/gambar/bintang.png" class="bintang">
                            <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>

                    <div class ="bag">
                        <div class="left">
                            <img src="../assets/gambar/ladydior.png" class="fotoTas">
                            <p class="Merek"> Dior</p>
                        </div>
                        <div class="right">
                            <div class="prof">
                                <img src="../assets/profile.png" class="fotoProf">
                                <p class="profile"> Joan Natalie </p>
                            </div>
                            
                            <img src="../assets/gambar/bintang.png" class="bintang">
                            <p class="reviewUser"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </section>
            </div>

    </section>
    <%- include('footer') %>
</body>
</html>