<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleAllHeader.css">
    <title>Bag's Community</title>
</head>
<body>
    <header>
        <div class="logos">
            <a href="/"><img src="../assets/ogol.png"></a>
        </div>
        <div class="namePage">
            <p><%// Add Sub-Category %></p>
        </div>
        <div class="names">
            <a name="username" href="/AdminProfile"><%- username %></a>
            <img src="../assets/profile.png">
            <a name="logout" href="/login">Log Out</a>
        </div>
    </header>
</body>
</html>