<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag's Community</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <form method="post" action="/login">
        <h2>Welcome to Bag's Community</h2>
        <p>Enter your registered username and password to log in</p>
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <button>Login</button>
        <div>
            Don’t have any account?
            <a href="/signup">Sign Up</a>
        </div>
    </form>
</body>
</html>