<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag's Community</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <form method="post" action="/login">
        <h2>Bag's Community</h2>
        <p>Masukkan kode OTP:</p>
        
        <div>
            <input id="kode" type="text" name="kode">
            <input id="kode" type="text" name="kode">
            <input id="kode" type="text" name="kode">
            <input id="kode" type="text" name="kode">
            <input id="kode" type="text" name="kode">
            <input id="kode" type="text" name="kode">
        </div>
        <button id="submit">Submit</button>
    </form>
</body>
</html>