<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag's Community</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="/js/otpKode.js" defer></script>
</head>
<body>
    <form method="post" action="/otpKode">
        <div id="head">
            <img src="../assets/ogol1.png">
        </div>
        <p>Masukkan kode OTP:</p>
        
        <div>
            <input id="kode" type="text" name="kode1">
            <input id="kode" type="text" name="kode2">
            <input id="kode" type="text" name="kode3">
            <input id="kode" type="text" name="kode4">
            <input id="kode" type="text" name="kode5">
            <input id="kode" type="text" name="kode6">
        </div>
        <button id="submit">Submit</button>
    </form>
</body>
</html>