<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag's Community</title>
    <link rel="stylesheet" href="../css/reviewSet.css">
</head>
<body>
    <%- include('headerAdmin') %>
    <main>
        <form id="review" method="post" action="/uploadForm">
            <div id="dashboard">
                <h2>Dashboard</h2>
                <div id="minimal">
                    <label for="minimal">Jumlah Minimal Review:</label>
                    <input type="text" name="minimal">
                </div>
            </div>
            <div id="rentangNilai">
                <h2>Rentang Nilai Review</h2>
                <div id="rentang">
                    <label for="rentang">Rentang Review:</label>
                    <input type="text" name="rentangBawah" value="1" disabled>
                    <p>s/d</p>
                    <input type="text" name="rentangAtas" value="5" disabled>
                </div>
                <div id="artiNilai">
                    <label for="arti">Arti Nilai Review:</label>
                    <div id="nilai">
                        <label for="satu">1:</label>
                        <input type="text" name="satu" value="Sangat Buruk" readonly>
                        <label for="dua">2:</label>
                        <input type="text" name="dua" value="Buruk" readonly>
                        <label for="tiga">3:</label>
                        <input type="text" name="tiga" value="Biasa saja" readonly>
                        <label for="empat">4:</label>
                        <input type="text" name="empat" value="Baik" readonly>
                        <label for="lima">5:</label>
                        <input type="text" name="lima" value="Sangat Baik" readonly>
                    </div>
                </div>
            </div>
            <div id="button">
                <button type="button" name="cancel">Cancel</button>
                <button type="submit" name="upload">Set</button>
            </div>
        </form>
    </main>
</body>
</html>