<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag's Community</title>
    <link rel="stylesheet" href="../css/reviewSet.css">
</head>
<body>
    <header></header>
    <main>
        <form id="review" method="post" action="/uploadFile">
            <div id="dashboard">
                <h2>Dashboard</h2>
                <div id="minimal">
                    <label for="minimal">Jumlah Minimal Review:</label>
                    <input type="text" name="minimal">
                </div>
            </div>
            <div id="rentangNilai">
                <h2>Rentang Nilai Review</h2>
                <div id="rentang">
                    <label for="rentang">Rentang Review:</label>
                    <button name="rentang5">1 sampai 5</button>
                    <button name="rentang10">1 sampai 10</button>
                </div>
                <div id="artiNilai">
                    <label for="arti">Arti Nilai Review:</label>
                    <div id="nilai">
                        <label for="1">1:</label>
                        <input type="text" name="1">
                        <label for="2">2:</label>
                        <input type="text" name="2">
                        <label for="3">3:</label>
                        <input type="text" name="3">
                        <label for="4">4:</label>
                        <input type="text" name="4">
                        <label for="5">5:</label>
                        <input type="text" name="5">
                    </div>
                </div>
            </div>
            <div id="button">
                <button name="cancel">Cancel</button>
                <button name="upload">Set</button>
            </div>
        </form>
    </main>
</body>
</html>