<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link rel="stylesheet" href="../css/statistikTas.css">
</head>
<body>
    <!-- header -->
    <section>
        <div id="forInput">
            <section id="dateInput">
                <p> Date: </p>
                <form>
                    <input type="date" id="dateAwal"> 
                    <input type="date" id="dateAkhir"> 
                </form>
            </section>

            <div id ='Category'>
                <p> Category</p>
            </div>

            <div id ='sub_cat'>
                <p> Sub-category</p>
            </div>

            <div id ='Merek'>
                <p> Merek</p>
            </div>

            <div id ='Designer'>
                <p> Designer</p>
            </div>
        </div>

        <div id="forGraph">
            <p> Per Category </p>
            <hr>
            
            <div id="graph"></div>
        </div>
    </section>
</body>
</html>