<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag Statistics</title>
    <link rel="stylesheet" href="../css/statistikTas.css">
    <script src="/js/statistikTas.js" defer></script>
</head>
<body>
    <%- include('headerAdmin') %>
    <section>
        <div id="forInput">
            <section id="dateInput">
                <p> Date: </p>
                <form>
                    <input type="date" id="dateAwal"> 
                    <p>-</p>
                    <input type="date" id="dateAkhir"> 
                </form>
            </section>

            <button name ='Category' disabled> Category</button>
            <button name = 'Sub-Category'disabled> Sub-Category</button>
            <button name = 'Merek' disabled> Merek</button>
            <button name = 'Designer'disabled> Designer</button>
        </div>

        <div id="forGraph">
            <p id="tab"> <%= showBy %> </p>
            <hr>
            <button id="download" type="button" onclick="window.print()">Download PDF File</button>
            <div id="graph">

                <table>
                    <tr>
                        <th rowspan="2" id="tab"><%= showBy %></th>
                        <th rowspan="2">Banyak Review</th>
                        <th colspan="3">Nilai Review</th>
                    </tr>
                    <tr>
                        <th>Minimum</th>
                        <th>Maximum</th>
                        <th>Average</th>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>
</html>