<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag Statistics</title>
    <link rel="stylesheet" href="../css/statistikTas.css">
</head>
<body>
    <%- include('headerAdmin') %>
    <section>
        <div id="forInput">
            <section id="dateInput">
                <p> Date: </p>
                <form>
                    <input type="date" id="dateAwal"> 
                    <input type="date" id="dateAkhir"> 
                </form>
            </section>

            <div id ='Category'>
                <p> Category</p>
            </div>

            <div id ='sub_cat'>
                <p> Sub-category</p>
            </div>

            <div id ='Merek'>
                <p> Merek</p>
            </div>

            <div id ='Designer'>
                <p> Designer</p>
            </div>
        </div>

        <div id="forGraph">
            <p> Per Category </p>
            <hr>
            
            <div id="graph">

                <table>
                    <tr>
                        <th rowspan="2">Category</th>
                        <th rowspan="2">Banyak Review</th>
                        <th colspan="3">Nilai Review</th>
                    </tr>
                    <tr>
                        <th>Minimum</th>
                        <th>Maximum</th>
                        <th>Average</th>
                    </tr>
                    <tr>
                        <td>Backpack</td>
                        <td>1080</td>
                        <td>2</td>
                        <td>5</td>
                        <td>4.5</td>
                    </tr>
                    <tr>
                        <td>Koper</td>
                        <td>850</td>
                        <td>3</td>
                        <td>4</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Handbag</td>
                        <td>1100</td>
                        <td>2</td>
                        <td>3</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>
</html>