<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Manual - Bag's Community</title>
    <link rel="stylesheet" href="../css/upload.css">
</head>
<body>
    <form id="manual" method="post" action="/uploadManual">
        <div id="id">
            <label for="bagid">Bag ID</label>
            <input type="text" name="bagid" value="1" disabled="true">
        </div>
        <div id="lab">
            <label for="merek">Merek</label>
            <select name="merek"></select>
            <label for="designer">Designer</label>
            <select name="designer"></select>
            <label for="kategori">Kategori</label>
            <select name="kategori"></select>
            <label for="subkat">Sub-Kategori</label>
            <select name="subkat"></select>
            <label for="warna">Warna</label>
            <input type="text" name="warna">
            <label for="panjang">Panjang</label>
            <input type="text" name="panjang">
            <label for="lebar">Lebar</label>
            <input type="text" name="lebar">
            <label for="tinggi">Tinggi</label>
            <input type="text" name="tinggi">
            <label for="foto">Foto</label>
            <input type="file" name="file">
        </div>
        <div id="button">
            <button name="cancel">Cancel</button>
            <button name="upload">Upload</button>
        </div>
    </form>
</body>
</html>