<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File - Bag's Community</title>
    <link rel="stylesheet" href="../css/upload.css">
</head>
<body>
    <header></header>
    <form id="file" method="post" action="/uploadFile" enctype="multipart/form-data">
        <div id="id">
            <label for="bagid">Bag ID</label>
            <input type="text" name="bagid" value="<%= id %>" disabled="true">
        </div>
        <div id="text">
            <label for="file">Drop CSV File Here!</label>
            <input type="file" name="file_tas">
        </div>
        <div id="button">
            <button name="cancel" href="/addBagItem">Cancel</button>
            <button name="upload" type="submit" >Upload</button>
        </div>
    </form>
</body>
</html>