<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="../css/userProfile.css">
</head>
<body>
    <%- include('header') %>
    <section>
        <div id="profil">
            <img src="../assets/profile.png" width="100px" height="100px">
            <p><%- username %></p>

            <section id="dataUser">
                <div id ="Review">
                    <p> 3 </p>
                    <p>Reviews</p>
                </div>

                <div id ="Followers">
                    <p> 5 </p>
                    <p>Followers</p>
                </div>

                <div id ="Following">
                    <p> 5 </p>
                    <p>Following</p>
                </div>
            </section>
            <div id = "EditProfile">
                <p>Edit Profile</p>
            </div>
        </div>

        <div id="Reviews">
            <section>
                <div id ="bag1">
                    
                </div>

                <div id ="bag2">
                    
                </div>

                <div id ="bag3">
                    
                </div>
            </section>
        </div>
    </section>
</body>
</html>