*{
    margin: 0;
    font-family: "nunito-medium";
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #E6E8FA;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 50px;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: "nunito-medium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}