html, body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    font-family: "nunito-medium";
    color: #00113E;
}
body{
    display: grid;
    grid-template-rows: 70px 1fr;
    background-color: #F2F2FF;
}
form{
    display:grid;
    grid-template-rows: 100px 300px 35px;
    padding: 15px;
    margin: 25px 100px;
}
#dashboard{
    grid-row: 1;
}
#minimal{
    display: grid;
    grid-template-columns: 200px 300px;
    margin: 15px;
}
#dashboard>input{
    grid-column: 2;
}
#rentangNilai{
    grid-row: 2;
}
#rentang{
    display: grid;
    grid-template-columns: 200px 200px 50px 200px;
    margin: 15px;
}
#artiNilai{
    display: grid;
    grid-template-columns: 200px 200px;
    margin: 15px;
}
#nilai{
    display: grid;
    grid-column: 2;
    grid-template-columns: 30px 300px;
    grid-template-rows: repeat(5, 30px);
    row-gap: 10px;
}
h2{
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: solid 1px black;
}
input[type="text"]{
    border: none;
    padding: 8px 15px;
    height: 10px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(185, 185, 185);
}
#button{
    display: flex;
    flex-direction: row-reverse;
}
#button>button{
    border: none;
    height: 30px;
    width: 100px;
    margin: 5px;
    border-radius: 5px;
    background-color: #E6E8FA;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(185, 185, 185);
}
#rentang>button{
    border: none;
    height: 30px;
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    background-color: #E6E8FA;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(185, 185, 185);
}
@font-face {
    font-family: "nunito-medium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}
@font-face {
    font-family: "nunito-bold";
    src: url(../assets/nunito/Nunito-Bold.ttf);
}