*{
    margin: 0;
}

html, body{
    background-color: #F2F2FF;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: grid;
    grid-template-columns: 3fr 4fr;
    justify-items: center;
}

#dateInput{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    align-items: center;
}

form{
    display: flex;
    justify-content: center; 
}

input[type="date"]{
    margin: 10px;
}

#forGraph{
    width: 400px;

    grid-column: 2; 
    background-color: white; 
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
}

#forInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#forInput div{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
    
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
div#forInput p{
    align-self: center;
}

#forGraph {
    width: 500px;
    padding: 25px;
}

#forGraph p{
    text-align: center;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

#graph{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color:#B29DF8;
    color: white;
}

td{
    height: 60px;
}
table{
    width: 450px
}

@font-face {
    font-family: "nunito-medium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}

@font-face {
    font-family: "nunito-bold";
    src: url(../assets/nunito/Nunito-Bold.ttf);
}

#forInput button{
    font-family: "nunito-bold";
    
}

button{
    font-family: "nunito-medium";
    border: none;
    width: 350px;
    text-align: left;
}
