*{
    margin: 0;
}
html, body{
    background-color: #F2F2FF;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: grid; 
    grid-auto-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    margin: 0 80px;
    justify-content: space-around;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profil{
    width: 500px;
    display: grid;
    gap: 10px;
}

#profil div{
    background-color: #E6E8FA;
}

#dataUser{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

#dataUser div{
    width: 120px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
    padding: 10px;
    cursor: pointer;
}

#EditProfile{
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
    background-color: #E6E8FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Follow{
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#Reviews{
    grid-column: 2;  
    overflow-y: auto ;
    overflow-x: hidden;
    height: 400px; 
    width: 500px;
}

#Reviews section .bag{
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);

    width: 450px;
    height: 160px;
}

p{
    text-align: center;
    font-family: "nunito-medium";
}

.foll{
    cursor: pointer;
}

#FollowingFollowers{
    grid-column: 2; 
    display: none;
    width: 500px;
    height: 400px;
}

#FollowingFollowers p{
    text-align: left;
    padding: 0 10px;
}

#Nav{
    display: flex;
    height: 50px;
}

#Nav p {
    padding:15px;
    cursor: pointer;
}

#Follows{
    overflow-y: auto ;
    overflow-x: hidden;
    height: 348px;
    display: block;
}

#Follows div{
    margin: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);

    width: 450px;
    height: 55px;

    display: grid;
    grid-template-columns: 1fr 5fr;
    text-align: left;
    align-items: center;
}

#Follings{
    overflow-y: auto ;
    overflow-x: hidden;
    height: 300px;
    display: block;
}

#Follings div{
    margin: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);

    width: 450px;
    height: 55px;

    display: grid;
    grid-template-columns: 1fr 5fr;
    text-align: left;
    align-items: center;
}

hr{
    width: 490px;
}

#Reviews h1{
    color: lightgray;

}
@font-face {
    font-family: "nunito-medium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}

.bag{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 20px;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px;
    align-items: flex-start;
}

.prof{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    column-gap: 15px;
    justify-items: start;
}
.time{
    color: gray;
    font-size: x-small;
}
.fotoTas{
    width: 90px;
    height: 90px;
}

.fotoProf{
    width: 35px;
    height: 35px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.profile{
    font-size: 14px;
}
.bintangs{
    display: flex;
    gap: 5px;
}
.bintang{
    width: 20px;
    height: 20px;
}

.reviewUser{
    text-align: left;
    font-size: 12px;
    height: 55px;
} 